{% load static %}
body {
           font-family: "Lucida Console", Courier, monospace;
           letter-spacing: 1px;
   }

   #main1{
    width: 100%;
    height: 590px;
    background: #EAA800;
}

a.one:link, a.one:visited {
            color: white;
            padding: 0px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            }

            a.two:link, a.two:visited {
            color: white;
            padding: 0px 10px;
            text-align: center;
            display: inline-block;
            }
#div1{

            padding: 5px;
            margin-top: 5px;
            border-radius:10px;


}
#div2{

            padding: 5px;
            margin-top: 30px;
            border-radius:10px;
            z-index:100;

}
#div3{

            padding: 5px;
            margin-top: 100px;
            border-radius:10px;



}

#logo{
position: absolute;
left:50px;
top:5px;
}
#titre1{
position: absolute;
right: 350px;
z-index:10;

}
#titre2{
position: absolute;
right: 70px;
z-index:10;

}
#titre3{
position: absolute;
right: 200px;
z-index: 1;

}

#men1{
position: absolute;
right: 560px;
z-index:10;
top:24px;
}
#men2{
position: absolute;
right: 70px;
z-index:10;
top:24px;

}
#men3{
position: absolute;
right: 320px;
z-index:10;
top:24px;

}

#con1{
position: absolute;
left: 410px;
top:150px;
}
#con2{
position: absolute;
left: 120px;
top:180px;
}
#con3{
position: absolute;
left: 180px;
top:400px;
}


#con4{
position: absolute;
right: 0px;
top:110px;
z-index: 0;

}
#con5{
position: absolute;
left: 440px;
top:475px;
}


#main2{
 width: 100%;
    height: 400px;

    background: #28F2C8;
}


#con22{
position: absolute;
left: 120px;
top:620px;
}
#con33{
position: absolute;
left: 180px;
top:840px;
}


#con44{
position: absolute;
right: 0px;
top:600px;
z-index: 0;

}
#con55{
position: absolute;
left: 440px;
top:910px;
}

#main3{
    background:red;
    height: 650px;


    padding: 10px 40px;


}
.positioning{
    padding: 10px;
    margin-top: 80px;
    border-radius:10px;
    position: relative;
}

#im1 {
    height: 320px;
    width:25%;
    background: url(../image/im1.png) no-repeat center/cover;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 30px;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 255, 0.178);
   z-index: 1;
}

#im2 {
    height: 350px;
    width:25%   ;
    background: url(../image/im2.jpg) no-repeat center/cover;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 70%;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 255, 0.178);
   z-index: 1;
}
#im3 {
    height: 300px;
    width:25%;
    background: url(../image/im3.jpg) no-repeat center/cover;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 36%;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 255, 0.178);
   z-index: 1;
}
#t1{
    height: 150px;
    width:25%;
    background:lightblue;
    padding: 20px;
    position: absolute;
    top: 300px;
    right: 30px;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 255, 0.178);
   z-index: 1;
}
#t2{
    height: 150px;
    width:25%;
    background:lightblue;
    padding: 20px;
    position: absolute;
    top: 300px;
    right: 70%;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 255, 0.178);
   z-index: 1;
}
#t3{
    height: 150px;
    width:25%;
    background:lightblue;
    padding: 20px;
    position: absolute;
    top: 300px;
    right: 36%;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 255, 0.178);
   z-index: 1;
}

a.three:link, a.three:visited {
            color: black;

            font-size:13px;
            }