{% load static %}

<html lang="en">
<head>
    <meta name="viewport" content="width=width-device, initial-scale=1">

    <!-- pour mettre les icones -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>CBIR PROJECT</title>
    <link rel="stylesheet" href="{% static 'css/styleS.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<style>

    .buy-btn:hover{
      color:#FFFFFF;
      background-color: #f15fa3;
      transition: all ease 0.3s;

  }
  .buy-btn{
      width:160px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      color: #252525;
      font-weight: 700;
      letter-spacing: 1px;
      font-family: calibri;
      border-radius: 20px;
      box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin-left:10px;



  }
  .overlay{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    height:100%;
    background-color: rgba(92,95,236,0.6);
    display:flex;
    justify-content: center;
    align-items: center;

}
.overlay{
    visibility: hidden;
}
#slide-img:hover .overlay{
  visibility: visible;
  animation: fade 0.5s;
}
@keyframes fade{
  0%{
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
}
.detail-box{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: calibri;

}
.type{
  display: flex;
  flex-direction: column;
}
.type a{
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;

}
.price{
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: poppins;
  letter-spacing: 0.5px;

}
.type span{
  color:rgba(26,26,26,0.5);

}

</style>
<body>

<main id="main1">
    <div style="height:90px;background-color:white;margin-top:0px;">


    <div id="div1">
       <span id="men1"><a href ="{% url 'home' %}" style="font-size: 16px;text-decoration:none;color:black"><b>ACCUEIL</b></a></span>
        <span id="men2"><a href ="{% url 'combine' %}" style="font-size: 16px;text-decoration:none;color:black"><b>EXTRACTION COMBINÉ</b></a></span>
        <span id="men3"><a href ="{% url 'simple' %}" style="font-size: 16px;text-decoration:none;color:black"><b>EXTRACTION SIMPLE </b></a></span>
    </div>


    <div id="div2">
          <span id="logo"><a href="{% url 'home' %}" ><img src="{% static 'image/logo.png'%}" alt="introuvable" width="300" height="90"></a></span>
        <span id="titre1"><a href="https://www.adidas.ca/fr" style="font-size: 8px;text-decoration:none;color:black">visitez également <b style="font-size: 14px;">google images</b></a></span>
        <span id="titre2"><a href ="#" style="font-size: 11px;text-decoration:none;color:black">inscription</a></span>
        <span id="titre3"><a href ="#" style="font-size: 11px;text-decoration:none;color:black">se connecter</a></span>
    </div>
    </div>
<div style="height:30px;width:100%;padding-bottom:15px;background-color:black;color:white;overflow:hidden">
<div style="height:4px;width:100%;padding-top:0px;padding-bottom:15px;padding-bottom:5px;background-color:black;color:white;"></div>

            <a href ="#" class="two" style="font-size: 13px; padding-left:380px;color:white;">Notre methode de developpement</a>
            <a href ="#" class="two" style="font-size: 13px;color:white;">Entrer en contact avec nous</a>
         <a href ="#" class="two" style="font-size: 13px;color:white;">En savoir plus sur notre base de donnée</a>
    </div>


</main>



<div class="container">
      {% if  reponse != 'Vrai' %}
        <h1 class="text-info text-center"><b>Rechercher votre image avec une methode d'extraction simple</b></h1> <br>
            <form class="row g-3" action = "{% url 'uploadT' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="col-md-6">
            <label  class="form-label">Methode d'extraction</label>
            <select id="extraction" class="custom-select" name="methode">
                                      <option>GLCM</option>
                                      <option>haralick</option>
                                      <option>biodiversity</option>
                                      <option>taxonomy</option>
                                      <option>biodiversityHaralick</option>
                                      <option>taxonomyHaralick</option>
                                      <option>biodiversityGLCM</option>
                                      <option>taxonomyGLCM</option>
                                    </select>
          </div>
          <div class="col-md-6">
            <label  class="form-label">Distance à utiliser</label>
            <select id="distance" class="custom-select" name="distance">
                                      <option>eucledienne</option>
                                      <option>chebyshev</option>
                                      <option>manathan</option>
                                      <option>canberra</option>
                                    </select>
          </div>
        <div class="col-md-12 text-center" style="margin-top:10px;">
    <label  class="form-label">Nombre de recherches</label>
    <input type="number" name="nombre" class="form-control" min="1">
  </div>

       <br/>
                <div style="margin-top:20px;margin-left:15px;">
                                           <p>Veuillez choisir la classe de l'image :</p>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="TOUT" checked>
                      <label class="form-check-label" >TOUT</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="GLAUCOMA">
                      <label class="form-check-label" >GLAUCOMA</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="COVID">
                      <label class="form-check-label" >COVID</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" value="KTH">
                      <label class="form-check-label" >KTH</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="OUTEX">
                      <label class="form-check-label" >OUTEX</label>
                    </div>


                </div>


        <div style="height:100px;padding-left:380px;padding-top:30px;">
            <div class="bg-success text-light" style="padding:10px 50px;border-radius:5px;">
            <label>Importez votre image</label>
            <input type="file" class="form-control-file" id="uploadfile" name="uploadfile">
          </div>
        </div>

            <div style="margin-top:20px;margin-left:480px;">
                 <button type="submit"  class="btn btn-primary"><i class="fas fa-check"></i> <span style="padding-left:25px;"> <b>Rechercher</b> </span></button>
            </div>

            </form>
        </div>
  {% endif %}

  {% if  reponse == 'Vrai' %}
<pre><a href="{% url 'simple' %}" style="color:black"><i class="fas fa-long-arrow-alt-left"></i> <b>RETOUR</b></a>  Accueil / extraction</pre>
<h1 class="text-info text-center"><b>Resultats de votre recherche</b></h1> <br>
<div class="row">
      <div class="col-6">
        <p style="padding-left:80px" class="text-primary">Votre image d'origine:</p>
   <img src="{% static 'image/queryimage.jpg' %}" alt="introuvable" width="400" height="300">

    </div>
    <div class="col-6">
        <p style="padding-left:80px" class="text-primary">Details de la recherche:</p>
        <p>Distance utilsé : {{ distance }} </p>
        <p>Methode extraction utilsé : {{ methode }} </p>
        <p>Nombre de {{ nomC }}: {{ nbCovid }}</p>
        <p>Nombre total de Fichiers: {{ nombre }}</p>


    </div>
</div>
</div>


<div class="row" style="margin-top:40px;">
     {% for image in Images %}

<div class="col-md-3">
  <div class="card mb-4 shadow-sm" id="slide-img">
   <img src="{% static image.url %}" alt="introuvable" width="356" height="300"></text>
   <div class="overlay" >
<span style="color:white">
    {{ image.fichier }}
</span>

</div>
<div class="detail-box">
<div class="type">
   <a href="#">
       Classe

       </a>
   <span>{{ image.dossier }}</span>
</div>
<a href="#" class="price">

       <span>{{ image.distance }}</span>
</a>
    </div>

  </div>
</div>

    {% endfor %}
</div>


    {% endif %}


  <div style="height:180px;background-color:yellow;">
    <div class="row">
    <div class="col-1"></div>
        <div class="col-4" style="padding-top:40px;padding-left:87px;font-weight:bolder;font-size:30px">
        <h3>JOIGNEZ NOUS EN ENVOYANT VOTRE ADRESSE ELECTRONIQUE</h3>
        </div>
        <div class="col-2"></div>
        <div class="col-4"  style="padding-top:60px"><form action="email.php" method="post">
        <input type="text" placeholder="Votre  Boite Email" style="padding:15px;width:300px"><button type="submit" class=" bg-dark text-light"  style="padding:15px;">go
</button>
        </form></div>

    </div>
    </div>
    <div>

    </div>

    <div style="height:370px;background: #d5dbdb;padding-top:50px;">
    <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p><b>IMAGES</b></p>
      <p><a href="aide.php" class="three">Covid-19</a></p>
      <p><a href="aide.php" class="three">Grossesse</a></p>
      <p><a href="aide.php" class="three">Chaussures de running</a></p>
      <p><a href="aide.php" class="three">Maladies</a></p>
    </div>
    <div class="col-sm-3">
      <p><b>DISTANCE</b></p>
      <p><a href="aide.php" class="three">Tchebychev</a></p>
      <p><a href="aide.php" class="three">Manhattan </a></p>
      <p><a href="aide.php" class="three">Mahalanobis</a></p>
      <p><a href="aide.php" class="three">Canberra</a></p>

    </div>

    <div class="col-sm-3">
      <p><b>TECHNIQUES D'EXTRATIONS </b></p>
      <p><a href="aide.php" class="three"> GLCM</a></p>
      <p><a href="aide.php" class="three">BIT</a></p>
      <p><a href="aide.php" class="three">LBT</a></p>
      <p><a href="aide.php" class="three">BIT ET GLCM</a></p>
      <p><a href="aide.php" class="three">BIT ET LBT</a></p>


    </div>
    <div class="col-sm-3">
      <p><b>COLLECTIONS</b></p>
      <p><a href="aide.php" class="three">sneaker pour enfant</a></p>
      <p><a href="aide.php" class="three">sacs a dos pour enfant</a></p>
      <p><a href="aide.php" class="three">chaussures de football pour enfant</a></p>
      <p><a href="aide.php" class="three">chaussures de running pour enfant</a></p>
      <p><a href="aide.php" class="three">jordan pour enfant</a></p>
      <p><a href="aide.php" class="three">sweat a capuche pour enfant</a></p>
      <p><a href="aide.php" class="three">t-shirt pour enfant</a></p>


    </div>
  </div>
</div>
</div>

<div style="height:100px;margin-bottom:0px" class="bg-dark">
<p style="padding-top:20px;padding-left:400px;font-weight:lighter;"class="text-light"><a href="aide.php" class="three" style="color:white">Canada <img src="{% static 'image/canada.png'%}" width=20 height=10 alt=""></a>
</p>
<div style="color:white;padding-left:200px;font-weight:lighter;font-size:12px;">
<pre style="color:white">Cookies          |         Site Map          |          Déclaration de Confidentialité    |       Conditions d’utilisation        |        Imprint|©   2020   adidas   Canada   Limited</pre>
</div>

</div>

</body>
</html>
